* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'calibri', 'sans-serif';
    background-color: rgb(44, 40, 40);
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
}

body {
    padding: 10px;
}

main {
    text-align: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 20px;
    font-family: 'Comic Sans MS', 'cursive', 'sans-serif';
    color: transparent;
    background: linear-gradient(90deg, #ff0000, #0b0985);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3em;
}

#img {
    border: 10px solid white;
    overflow: hidden;
    margin: 10px;
}

#info-musica {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

#musica {
    text-align: left;
    color: whitesmoke
}

#nome-musica {
    font-weight: 900;
    font-size: x-large;
    
}

#artista {
    font-size: large;
    color: rgb(221, 210, 210);
    font-weight: normal;
}

#barra-progresso {
    width: 100%;
    height: 3px;
    border: transparent 10px;
    background-color: gray;
    border-radius: 5px;
    margin-top: 10px;
}

#current-progress {
    width: var(--progress, 0%);
    height: inherit;
    background-color: white;
    border-radius: 5px;
}

#container-progress {
    width: 100%;
    background-color: transparent;
    margin: 0 auto; 
    cursor: pointer;
}

#time-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

.control {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 3px;
    border-radius: 50%;
}

#play, #pause {
    display: block;
    font-size: 3.5em;
}

#skip, #previous {
    font-size: 2.2em;
}

#shuffle, #repeat, #like {
    font-size: 1.5em;
}

.control:hover {
    scale: 1.2;
    transition-duration: 0.5s;
    color: rgb(238, 61, 30)
}

.controlClicked {
    scale: 1.1;
    color: rgb(238, 61, 30);
}

#pause {
    display: none;
}
